body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 5px;
    margin-right: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#weatherInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #520a0a;
}

#weatherList {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

/*child elements divs of weatherlist*/
#weatherList > div {
    border: 1px solid #60bde2; /* Change as needed */
    padding: 5; /* Optional: Adds some space between the border and the content inside */
    margin: 5; /* Optional: Adds some space between each element */
}
    


.weatherCard {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.weatherCard p {
    margin: 5px 0;
}

.weatherCard img {
    max-width: 50px;
    max-height: 50px;
}
